@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, sans-serif;
}

main {
  display: flex !important;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.2s;
}
